body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 17px;
}
.container{
    width: 90%;
    margin: auto;
}

header{
    background-image: url(../image/dawn.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
     background-color: #000000ad;
    background-blend-mode: multiply;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h4{
color: white;
font-size: 24px;
}
nav h4 span{
    font-weight: 200;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav ul li{
     margin: 0 0 0 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-size: 17px;
}
.banner{
    padding: 200px 0 150px;
    text-align: center;
    color: white;
}
.banner h3{
    font-size: 30px;
    font-style: italic ;
    margin: 0 0 10px 0;
}
.banner span {
    background-color: red;
    height: 5px;
    width: 160px;
    display: inline-block;
    border-radius: 5px;
}
.banner h1 {
    font-size: 70px;

}
.banner button{
    background-color: rgb(160, 53, 53);
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid rgb(160, 53, 53) ;
    border-radius: 30px;
    transition: all 0.3s linear;
}
.banner button:hover{
    background-color: rgb(73, 52, 52);
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid rgb(160, 53, 53) ;
    border-radius: 30px;
   }