

html{
    scroll-behavior: smooth;
}


body{
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
font-size: 17px;
}
img{
 width: 100%;  
}
h1{font-size: 70px;
}
h2{font-size: 40px;
}
h3{
    font-size: 30px;

}
.container{
    width: 90%;
    margin: auto;
}
section{
    padding: 50px 0;
}
header{
    background-image: url(../image/dawn.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
     background-color: #000000ad;
    background-blend-mode: multiply;
}
nav{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
nav h4{
color: white;
font-size: 24px;
}
nav h4 span{
    font-weight: 200;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
nav ul li{
     margin: 0 0 0 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-size: 17px;
}
.banner{
    padding: 200px 0 150px;
    text-align: center;
    color: white;
}
.banner h3{
    font-size: 30px;
    font-style: italic ;
    margin: 0 0 10px 0;
}
.banner span {
   background-color: red;
    height: 5px;
    width: 160px;
    display: inline-block;
    border-radius: 5px;
}
.banner h1 {
    

}
.banner button{
    background-color: rgb(160, 53, 53);
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid rgb(160, 53, 53) ;
    border-radius: 30px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.banner button:hover{
    background-color: rgb(73, 52, 52);
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid rgb(160, 53, 53) ;
    border-radius: 30px;
   }
   /* UPCOMING EVENTS */
   .event-main{
    text-align: center;
   }
   .event-main h2{
    margin: 0;
    font-size: 40px;
   }
   .event-main span{
    background-color:red;
    height: 5px;
    width: 160px;
    display: inline-block;
    border-radius: 10px;
     margin: 10px 0 50px 0 ;
   }
   .event{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
   }
   .event-box{
width: 50%;
margin: 10px;
   }
  .event-box img{
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius:  10px;
-webkit-box-shadow: rgba(0, 0, 0, 0.15) 12.95px 12.95px 2.6px;
        box-shadow: rgba(0, 0, 0, 0.15) 12.95px 12.95px 2.6px;
  }
  .event-box h4{
    font-size: 20px;
    margin: 25px 0 20px 0;
  }
  .event-box p{}
  .event-box a{
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;  }
/*EXPLORE THE WORLD*/
.explore-section{
    background-image: url(../image/father.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
     background-color:skyblue;
    background-blend-mode: multiply;
    color: white;
    background-attachment: fixed;
}

.explore-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
}
.explore{width: 50%; }
.explore h1{margin-bottom: 0;
}
.explore span{
    background-color:red;
    height: 5px;
    width: 160px;
    display: inline-block;
    border-radius: 10px;
     margin: 10px 0 50px 0 ;
}

.explore p{
    margin: 30px 0;
    font-size: 20px ;
}
.explore a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px; 
    font-weight: bold;
}

/*==tour and destination===*/
.tours-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tour{
    padding: 14px;
}
.tour h3{
    margin: 0;
}
.tour span{
    background-color:red;
    height: 5px;
    width: 160px;
    display: inline-block;
    border-radius: 10px;
     margin: 10px 0 50px 0;
}
.tour p{ margin: 30px 0; }
.tour a{
    color: rgb(79, 79, 235);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}
.tour img{

}
.small{
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 20px 0;
}
.large{ 
    height: 370px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 20px 0;
}
/* scroll bar top back button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;}
/* footer*/
footer{
    background-color: rgb(27, 20, 20);
    color: white;
    padding: 60px 0;
    text-align: center;}
    .fab{
        font-size: 40px;
        color: white;
        margin: 10px;
    }


    /*====scrool bar start====*/
    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(27, 20, 20, 0.466);
            box-shadow: inset 0 0 4px rgba(27, 20, 20, 0.466); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.719); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.548) ; 
  }
  /*====scrool bar end====*/


  /*  small phone,medium phone and large phone=0=>  600px and down */
@media only screen and (max-width: 600px) {
    
    h1{font-size: 30px;
    }
    h2{font-size: 25px;
    }
    h3{
        font-size: 20px;
    
    }
    .container{
        width: 90%;
       
    }
    section{
        padding: 50px 0;
    }
    header{
       
    }
    nav{
    display: block;    
    }
    nav h4{
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 0 0 0;
    }
    nav h4 span{
        width: 100%;
    }
    nav ul{
        padding: 0;
        justify-content: center;
        display: flex;
    }
    nav ul li{
         margin: 0 5px 10px 5px;
    }
    nav ul li a{
        font-size: 15px;
    }
    .banner{
        padding: 60px 0 70px;
        text-align: center;
        color: white;
    }
    .banner h3{
        font-style: italic ;
        margin: 0 0 10px 0;
    }
    .banner span {
        height: 3px;
        width: 120px;
        display: inline-block;
        border-radius: 10px;
    }
    
    .banner button{
        padding: 12px 20px;
        font-size: 15px;
        letter-spacing: 1px;
    }
    
       /* UPCOMING EVENTS */
       .event-main{
        text-align: center;
       }
       
       .event{
        display: block;
        width: 95%;
        margin: 30px auto 0px ;
       }
       .event-box{
    width: 95%;
    margin: 0px auto;
       }
      .event-box img{
        height: 300px;
      }
    
      .event-box a{
        display: block;
      margin: 50px 0; }
    .event-image-mobile{
      margin-top: 50px;  
    }

    /*EXPLORE THE WORLD*/
    
    .explore-main{
        display: block;
        
    }
    .explore{width: 100%;
     }
    
    .explore p{
        margin: 30px 0;
    }
    .explore a{
        font-size: 18px; 
        
    }
    
    /*==tour and destination===*/
    .tours-main{
        display: block;
    }
    
    .tour{
        padding: 10px;
    }
    .tour p{ 
        margin: 20px 0; }
    
    .tour img{}

    .small{
        height: 300px;
        margin: 0 0 10px 0;
    }
    .large{ 
        height: 300px;
        margin: 0 0 20px 0;
    }
    /* footer*/
    footer{
        
        padding: 30px 10px;
        text-align: center;}
        .fab{
            font-size: 20px;
            margin: 5px;

}
  }
/* tab device media query */
@media  only screen and ( min-width:601px)  and ( max-width:768px){
    h1{font-size: 40px;
    }
    h2{font-size: 30px;
    }
    h3{
        font-size: 25px;
    
    }
    .container{
        width: 96%;
    
    }
    section{
        padding: 60px 0;
    }
    nav h4{
         margin: 0;
        font-size: 24px;
        text-align: center;
        padding: 15px;
        }
        nav ul{
            padding: 0;
            justify-content: center;
            display: flex;
        }
        nav ul li{
             margin: 0 15px 10px 5px;
        }
        nav ul li a{
            font-size: 17px;
        }
        .banner{
            padding:100px 0 110px;
            text-align: center;
            color: white;
        }
        
        .banner span {
            height: 4px;
            width: 140px;
            
        }
        
        .banner button{
            padding: 12px 30px;
            letter-spacing: 2px;
        }
    /* upcoming event */
           
           .event{ 
            width: 90%;
            margin: 30px auto 0;
           }
           .event-box{
        width: 95%;
        margin: 15px;
           }
           /*EXPLORE THE WORLD*/
           
           .explore-main{
               display: block;
           }
           .explore{
            width: 80%; 
            margin: auto;
        }
           
           .explore p{
               margin: 40px 0;
             
           }
           
           /*==tour and destination===*/
           
           .tour{
               padding: 10px;
           }
           .tour h3{
               margin: 0;
           }
           
           .tour p{
             margin: 30px 0; }
           
           .small{
               height: 300px;
               margin: 0 0 10px 0;
           }
           .large{ 
               height: 350px;
               margin: 0 0 10px 0;
           }
           /* footer*/
           footer{
               padding: 30px 10px;
 }
               .fab{
                   font-size: 30px;
                   margin: 7px;
               }
                  }
           /* small laptop, squire monitor */
   @media  only screen and  ( min-width:769px) and ( max-width:1024px){
   
    h1{font-size: 50px;
    }
    h2{font-size: 35px;
    }
    h3{
        font-size: 25px;
    
    }
    
   }
   @media  only screen and  ( min-width:1025px) and ( max-width:1440px){
   
    h1{font-size: 10px;
    }
   
    
   }  